<h2>Quiz 1 : Pivoting and Melting</h2>

Jelaskan itu pivoting dan melting data

jawaban :

**Pivoting** adalah memutar data yang terletak di baris menjadi di column atau melakukan perubahan pada bentuk data dari yang tadinya panjang menjadi lebar

**Melting** adalah mengubah suatu data dengan memutar dari yang tadinya berada di posisi column menjadi di posisi row.

<h2>Quiz 2 : Data structure Comprehension</h2>

Data yang rapi adalah :
1. Setiap row menunjukan suatu unit observasi
2. Setiap column merupakan suatu unit variable

Bagaimana pun, dalam menentukan unit observasi itu tergantung dari kasus yang di hadapi. sebagai seorang data scientist pasti akan menemukan berbagai bentuk struktur data. adalah sangat penting bagi seorang data scientist untuk dapat memahami dan menjelaskan setiap struktur data. Kemampuan memahami hubungan antara index baris, column dan isi data adalah kunci untuk memahami informasi apa yang data sedang beritahukan kepada kita.

Di bawah ini terdapat 2 data yang berisi sama, tetapi memiliki struktur yang berbeda. Jelaskan perbedaan dari 2 struktur data tersebut

![alt text](https://drive.google.com/uc?id=1h13CDPzIjc-2XyRcyu-p1fet0Ep1gdMA)

![alt text](https://drive.google.com/uc?id=12ji98ell5tNcCxeBzl4v8qqBtFMgDSr0)

- pada foto pertama,data telah diubah oleh pivot, index dekelompokan oleh tipe ujian, dengan colomn mata pelajaran, dan tentunya value nya berupa rata rata waktu belajar

- pada foto kedua, hanya menampilkan data frame dari data raw

<h2>Quiz 3 : Reshaping Data 1</h2>

In [4]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}
df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          592                 75
1        UAS1         Fisika                          656                 77
2        UTS2         Fisika                          681                 82
3        UAS2         Fisika                          265                 42
4        UTS1     Matematika                          203                 63
5        UAS1     Matematika                          607                 82
6        UTS2     Matematika                          541                 70
7        UAS2     Matematika                          682                 69
8        UTS1     Statistika                          444                 99
9        UAS1     Statistika                          748                 86
10       UTS2     Statistika                          621                 65
11       UAS2     Statistika                          467                 83

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [7]:
# code here
df.pivot_table(values=['Rata2 Nilai Ujian','Rata2 Waktu Belajar (menit)'], index='Tipe Ujian', columns='Mata Pelajaran')

               Rata2 Nilai Ujian             ... Rata2 Waktu Belajar (menit)
Mata Pelajaran            Fisika Matematika  ...                  Matematika Statistika
Tipe Ujian                                   ...
UAS1                          77         82  ...                         607        748
UAS2                          42         69  ...                         682        467
UTS1                          75         63  ...                         203        444
UTS2                          82         70  ...                         541        621

[4 rows x 6 columns]

Expected Result :

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)

<h2>Quiz 4 : Reshaping Data 2</h2>

In [9]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

In [12]:
# telah di melt
df_melted = pd.melt(df.reset_index(),id_vars='Hari', value_vars=['Kebun Binatang','Dufan','Disney','Bali'], var_name='Tempat Hiburan', value_name='Pengunjung')
df_melted

     Hari  Tempat Hiburan  Pengunjung
0   Sabtu  Kebun Binatang         271
1  Minggu  Kebun Binatang         399
2   Sabtu           Dufan         501
3  Minggu           Dufan         700
4   Sabtu          Disney        1000
5  Minggu          Disney        1001
6   Sabtu            Bali         900
7  Minggu            Bali         803

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

Expected Result :

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)

<h2>Quiz 5 : Pivoting and Aggregating</h2>

In [22]:
import pandas as pd

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1']*3,
    'Mata Pelajaran' :['Statistika', 'Fisika', 'Fisika', 'Statistika', 'Fisika', 'Statistika'],
    'Jumlah Peserta' : [14, 17, 12, 16, 14, 13]
}
df = pd.DataFrame(data)
df.pivot_table(values='Jumlah Peserta',index='Tipe Ujian',columns='Mata Pelajaran', aggfunc='sum')

Mata Pelajaran  Fisika  Statistika
Tipe Ujian
UAS1                17          29
UTS1                26          14

Perhatikan bahwa data jumlah peserta ujian untuk suatu tipe ujian dan mata pelajaran tertentu ada yang duplikat, ubahlah struktur data tersebut dan lakukan aggregasi berjenis jumlah sehingga sesuai dengan hasil yang di harapkan

Expected Result :

![alt text](https://drive.google.com/uc?id=1emoz7orYR-0mCHffvAgM8j-V1P6yVHf0)